target/classes/outbound_properties.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="8083" doc:name="HTTP Request Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration1" host="localhost" port="8083" doc:name="HTTP Listener Configuration"/>

    <message-property-filter pattern="Content-Type=application/json" caseSensitive="false" scope="inbound" name="Message_Property" doc:name="Message Property"/>
    <flow name="first-flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/inbound/*" doc:name="HTTP"/>
        <message-properties-transformer doc:name="Message Properties">
            <add-message-property key="Content-Type" value="text/plain"/>
        </message-properties-transformer>
        <logger message="Inside First Flow #[message]" level="INFO" doc:name="Logger"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/secondflow" method="POST" doc:name="HTTP"/>
        <logger message="hello #[message]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="second-flow">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="/secondflow/*" doc:name="HTTP"/>
        <logger message="Inside seocnd flow #[message.inboundProperties]" level="INFO" doc:name="Logger"/>
        <object-to-string-transformer doc:name="Object to String"/>
    </flow>
</mule>
